<div class="content-wrapper">
    <div class="outer-title-wrapper mb-4">
        <div class="row align-items-center">
            <div class="col-l-7 col-xl-7 col-md-12 col-sm-12 col-12 mob-mb1">
                <h4 class="content-title mb-0 my-auto">Game List</h4> 
            </div>
            <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-12 mob-mb1">
                <div class="row">
                    <div class="col-lg-8 col-xl-8 col-12 mob-mb1">
                        <!-- <div class="form-group mb-0 search-group">
                        
                            <input class="form-control" placeholder="Search game name... ">
                        </div> -->
                    </div>
                    <div class="col-lg-4 col-xl-4 col-12 desktop-right">
                        <div class="form-group mb-0">
                            <a [routerLink]="['/add-game']" class="btn btn-primary w-100">Add New</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="card dark-card">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-gray">
                        <tr>
                            <th>Game  Name</th>
                            <th>Description</th>
                            <th>Start time</th>
                            <th>End time</th>
                            <th>Entry Amt. </th>
                            <th>Repeat Till</th>
                            <th>Game Image</th>
                            <th>Status </th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td *ngIf="!gameList?.length" colspan="9">
                                <app-no-record-found></app-no-record-found>
                            </td>
                        </tr>
                        <tr *ngFor="let item of gameList | paginate: { itemsPerPage: pagesize, currentPage: page, totalItems: totalRecords} ; let i = index ; let index as i">
                            <td>{{item.gameName}}</td>
                            <td>{{item.description}} </td>
                            <td>{{item.entryStartDate | date : 'dd/MM/yyyy'}} </td>
                            <td>{{item.entryEndDate  | date : 'dd/MM/yyyy'}} </td>
                            <td>{{item.entryAmount}} </td>
                            <td>{{item.repeatTill  | date : 'dd/MM/yyyy'}} </td>
                            <td>{{item.description}} </td>
                            <td>Active</td>
                            <td class="text-center">
                                <a href="javascript:;" class="actionbtn mr-2" (click)="editGame(item)"><i
                                        class="bi bi-pencil-square"></i></a>
                                <!-- <a href="javascript:;" class="actionbtn"><i class="bi bi-trash-fill"></i></a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>