<div class="content-wrapper">
    <div class="outer-title-wrapper mb-4">
        <div class="row align-items-center">
            <div class="col-l-7 col-xl-7 col-md-12 col-sm-12 col-12 mob-mb1">
                <h4 class="content-title mb-0 my-auto">Add New User</h4>
            </div>
            <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 col-12 mob-mb1 desktop-right">
                <a [routerLink]="['/user-list']" class="btn btn-primary">User List</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card dark-card">
                <div class="card-body">
                    <form [formGroup]="addUserForm" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="firstName"
                                        placeholder="First Name" required>
                                    <span class="text-danger" *ngIf="
                                            addUserForm.controls.firstName.touched &&
                                            addUserForm.controls.firstName?.errors?.['required']">
                                        Please enter First Name.
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="lastName"
                                        placeholder="Last Name" required>
                                    <span class="text-danger" *ngIf="
                                        addUserForm.controls.lastName.touched &&
                                        addUserForm.controls.lastName?.errors?.['required']">
                                        Please enter Last Name.
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" formControlName="email"
                                        placeholder="Email ID" required (keypress)="emailError = ''">
                                    <span class="text-danger" *ngIf="
                                        addUserForm.controls.email.touched &&
                                        addUserForm.controls.email?.errors?.['required']">
                                        Please enter Email ID.
                                    </span>
                                    <span class="text-danger" *ngIf="
                                    addUserForm.controls.email?.touched &&
                                    addUserForm.controls.email?.errors?.['pattern']">
                                        Please enter valid Email
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="mobileNumber"
                                        placeholder="Mobile Number" minlength="10" maxlength="10" required
                                        (keypress)="numberOnly($event)">
                                    <span class="text-danger" *ngIf="
                                        addUserForm.controls.mobileNumber.touched &&
                                        addUserForm.controls.mobileNumber?.errors?.['required']">
                                        Please enter Mobile Number.
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="userCode"
                                        placeholder="User Code" required>
                                    <span class="text-danger" *ngIf="
                                        addUserForm.controls.userCode.touched &&
                                        addUserForm.controls.userCode?.errors?.['required']">
                                        Please enter User Code.
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-2 col-xl-2 col-4">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="optionsRadios1"
                                                        id="optionsRadios2" [value]="1" (change)="changeUserType(1)"
                                                        [checked]="this.addUserForm.controls.userType.value == 1">
                                                    User
                                                    <i class="input-helper"></i></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 col-4">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="optionsRadios1"
                                                        id="optionsRadios2" [value]="0" (change)="changeUserType(0)"
                                                        [checked]="this.addUserForm.controls.userType.value == 0">
                                                    Broker
                                                    <i class="input-helper"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3 col-4">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="optionsRadios"
                                                        id="optionsRadios1" [value]="true"
                                                        (change)="activeInactive(true)"
                                                        [checked]="this.addUserForm.controls.isActive.value">
                                                    Active
                                                    <i class="input-helper"></i></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 col-4">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="optionsRadios"
                                                        id="optionsRadios1" [value]="true"
                                                        (change)="activeInactive(true)"
                                                        [checked]="!this.addUserForm.controls.isActive.value">
                                                    Inactive
                                                    <i class="input-helper"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group text-right">
                            <a type="reset" class="btn btn-outline-primary mr-2"
                                [routerLink]="['/user-list']">Cancel</a>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>